/console_spec/bin/Debug/net8.0/Resources/ANSI Regular.flf
/console_spec/bin/Debug/net8.0/console_spec.deps.json
/console_spec/bin/Debug/net8.0/console_spec.dll
/console_spec/bin/Debug/net8.0/console_spec.exe
/console_spec/bin/Debug/net8.0/console_spec.pdb
/console_spec/bin/Debug/net8.0/console_spec.runtimeconfig.json
/console_spec/bin/Debug/net8.0/Spectre.Console.dll
/console_spec/bin/Release/net8.0/Resources/ANSI Regular.flf
/console_spec/bin/Release/net8.0/win-x64/publish/Resources/ANSI Regular.flf
/console_spec/bin/Release/net8.0/win-x64/publish/console_spec.exe
/console_spec/bin/Release/net8.0/win-x64/publish/console_spec.pdb
/console_spec/bin/Release/net8.0/win-x64/Resources/ANSI Regular.flf
/console_spec/bin/Release/net8.0/win-x64/console_spec.deps.json
/console_spec/bin/Release/net8.0/win-x64/console_spec.dll
/console_spec/bin/Release/net8.0/win-x64/console_spec.exe
/console_spec/bin/Release/net8.0/win-x64/console_spec.pdb
/console_spec/bin/Release/net8.0/win-x64/console_spec.runtimeconfig.json
/console_spec/bin/Release/net8.0/win-x64/Spectre.Console.dll
/console_spec/bin/Release/net8.0/console_spec.deps.json
/console_spec/bin/Release/net8.0/console_spec.dll
/console_spec/bin/Release/net8.0/console_spec.exe
/console_spec/bin/Release/net8.0/console_spec.pdb
/console_spec/bin/Release/net8.0/console_spec.runtimeconfig.json
/console_spec/bin/Release/net8.0/Spectre.Console.dll
/console_spec/bin/Release/Resources/ANSI Regular.flf
/Resources/